*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
#count{
    margin-bottom: 40px;
    font-size: 250px;
    color: chocolate;
}
button{
    padding: 20px;
    width: 10vw;
    background-color: aquamarine;
}
.outerbutton{
    display: flex;
    gap: 20px;
}
#change{
    position: absolute;
    top: 0;
    left: 0;
}
input{
    height: 50px;
    width: 200px;
    font-size: 24px;
    border-radius: 20px;
    margin-bottom: 20px;
}
#changeMode{
    position: absolute;
    top: 0;
    right: 0;
}