*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    max-width: 1280px;
    margin: auto;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    text-align: center;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
    border-radius: 2rem;
}
.product>img{
    filter: drop-shadow(0 10px 15px rgba(216, 0, 0, 0.5));
}
.product>button{
    width: 10vw;
    padding: 1rem;
    border-radius: 1rem;
    color: brown;
    background-color: aqua;
    margin-bottom: 10px;
}